# Limpieza & Set Up de BBDD

### Realizaremos algunas customizaciones sobre la base con el fin de optimizar el trabajo de aqui en adelante:

    1. Cambiar los títulos de las columnas a mayúsculas
    2. Agregar la leyenda del índice
    3. Limpiar los NaN 
    4. Creación de columna "DAY_OF_THE_WEEK"
    5. Conversion de tipo de datos de las columnas Date & AvgTalkDuration
    6. Todos los campos vacios o NaN en la columna AvgTalkDuration se reemplazan con 00:00:00 y se cambia el tipo

# hacer un .info para ver si hay nulos
#### tengo que hacer esto para encontrar los nan df[df.inclement_weather.isna()].shape[0]
#### comprobar si tengo infinitos df[df.SNWD.isin([-np.inf, np.inf])].shape[0]
#### analizar si hay duplicados df[df.duplicated()].shape[0]
#### df[df.duplicated()].shape[0]
#### para mi columna avg tengo que hacer df.describe(include='object')
#### df_deduped.dropna(how='all').shape
#### puedo hacer para eliminar los nulos en algunas columnas df_deduped.dropna(how='all', subset=['inclement_weather', 'SNOW', 'SNWD']).shape 
#### hacer comentarios de por que hacemos los cambios 
#### analizar si hay datos absurdos
#### si completo un na tengo que justificar por que lo reemplazo y por que lo hago con el valor determinado
#### importar todas las librerias de visualización y graficos

# importación de librerias

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn

# Lectura de mi base de datos en  bruto

In [2]:
rutaexcel = r"C:\\Users\\Lucia\Desktop\\bootcamp\\Proyecto_EDA_Pablo_Mendez\\Telecom Company Call-Center-Dataset.xlsx"
bbdd = pd.read_excel(rutaexcel)
bbdd

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,NaN,NaN,NaN
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,NaN,NaN,NaN
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,NaN,NaN,NaN
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

#     1. Cambiar los títulos de las columnas a mayúsculas 
#     2. Agregar la leyenda del índice
###      Para trabajar de una manera mas ordenada se decide insertar un indice al cual se puede llamar en el futuro

In [3]:
bbdd.columns = bbdd.columns.str.upper()
bbdd
bbdd.index.name = 'INDEX'
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING
INDEX,,,,,,,,,,
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,NaN,NaN,NaN
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,NaN,NaN,NaN
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,NaN,NaN,NaN
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

   # 3. Limpiar los NaN por ' '
   ###  Se decide limipiar los Nan dado que unicamente figuraban por la falta del dato, podemos observar que la falta del dato es por que la interación no se concreta.

In [4]:
bbdd.fillna(' ', inplace = True)

C:\Users\Lucia\AppData\Local\Temp\ipykernel_25596\3066850627.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  bbdd.fillna(' ', inplace = True)

#     4. Creación de columna "DAY_OF_THE_WEEK"
###      Se decide crear esta columna para visualizar de una manera mas simple los días en que la empresa brinda servivio.

In [5]:
bbdd['DAY_OF_THE_WEEK'] = pd.to_datetime(bbdd['DATE']).dt.day_name()
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING,DAY_OF_THE_WEEK
INDEX,,,,,,,,,,,
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0,Friday
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0,Friday
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0,Friday
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0,Friday
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,,,,Wednesday
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,,,,Wednesday
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,,,,Wednesday
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,,,,Wednesday
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,,,,Wednesday

##### Podemos inferir que se brinda servicio los 7 días de la semana

In [34]:
pd.pivot_table(bbdd, values=['CALL ID', 'AGENT', 'DATE', 'TIME', 'TOPIC', 'ANSWERED (Y/N)', 'RESOLVED', 'SPEED OF ANSWER IN SECONDS', 'AVGTALKDURATION', 'SATISFACTION RATING'], index='DAY_OF_THE_WEEK', aggfunc='first')

,AGENT,ANSWERED (Y/N),AVGTALKDURATION,CALL ID,DATE,RESOLVED,SATISFACTION RATING,SPEED OF ANSWER IN SECONDS,TIME,TOPIC
DAY_OF_THE_WEEK,,,,,,,,,,
Friday,Diane,Y,00:06:48,ID0033,2021-01-01,Y,3.0,57.0,13:33:36,Technical Support
Monday,Stewart,Y,00:06:50,ID0219,2021-01-04,Y,5.0,120.0,15:48:58,Admin Support
Saturday,Greg,Y,00:06:56,ID0082,2021-01-02,Y,4.0,52.0,12:00:00,Payment related
Sunday,Martha,Y,00:06:58,ID0153,2021-01-03,N,4.0,52.0,12:54:43,Payment related
Thursday,Stewart,Y,00:06:50,ID0362,2021-01-07,Y,3.0,66.0,11:42:43,Technical Support
Tuesday,Diane,Y,00:06:48,ID0264,2021-01-05,Y,3.0,72.0,15:31:41,Streaming
Wednesday,Stewart,Y,00:06:54,ID0336,2021-01-06,Y,5.0,37.0,17:00:58,Contract related

In [6]:
bbdd['DAY_OF_THE_WEEK'].unique()

array(['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday'], dtype=object)

#     5. Conversion de tipo de datos de la columna Date

In [7]:
bbdd['DATE'] = pd.to_datetime(bbdd['DATE'])

In [8]:
bbdd.dtypes

CALL ID                               object
AGENT                                 object
DATE                          datetime64[ns]
TIME                                  object
TOPIC                                 object
ANSWERED (Y/N)                        object
RESOLVED                              object
SPEED OF ANSWER IN SECONDS            object
AVGTALKDURATION                       object
SATISFACTION RATING                   object
DAY_OF_THE_WEEK                       object
dtype: object

#     5. Conversion de tipo de datos de la columna AvgTalkDuration

In [9]:
bbdd['AVGTALKDURATION'].replace(' ', '00:00:00', inplace=True)

In [10]:
bbdd['AVGTALKDURATION'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5000 entries, 0 to 4999
Series name: AVGTALKDURATION
Non-Null Count  Dtype
--------------  -----
5000 non-null   object
dtypes: object(1)
memory usage: 39.2+ KB

In [11]:
bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].astype(str)

In [12]:

bbdd['AVGTALKDURATION'] = pd.to_timedelta(bbdd['AVGTALKDURATION'])
 #Convierte la duración a minutos
bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].dt.total_seconds() / 60

In [13]:
bbdd['AVGTALKDURATION'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5000 entries, 0 to 4999
Series name: AVGTALKDURATION
Non-Null Count  Dtype
--------------  -----
5000 non-null   float64
dtypes: float64(1)
memory usage: 39.2 KB

In [15]:
bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].astype(str).apply(lambda x: x[10:] if 'days' in x else x)

print(bbdd)

      CALL ID    AGENT       DATE      TIME              TOPIC ANSWERED (Y/N)  \
INDEX
0      ID0033    Diane 2021-01-01  13:33:36  Technical Support              Y
1      ID0056      Dan 2021-01-01  17:44:10          Streaming              Y
2      ID0039  Stewart 2021-01-01  14:38:24   Contract related              Y
3      ID0009     Greg 2021-01-01  11:13:55      Admin Support              Y
4      ID0043    Diane 2021-01-01  14:47:02  Technical Support              Y
...       ...      ...        ...       ...                ...            ...
4995   ID4992      Joe 2021-03-31  14:13:55          Streaming              N
4996   ID4993      Joe 2021-03-31  14:18:14      Admin Support              N
4997   ID4994     Greg 2021-03-31  14:58:34   Contract related              N
4998   ID4995      Dan 2021-03-31  15:33:07    Payment related              N
4999   ID5000    Diane 2021-03-31  17:39:50   Contract related              N

      RESOLVED SPEED OF ANSWER IN SECONDS    AVGTALKDURATION  \
INDEX
0            Y                       57.0  6.816666666666666
1            Y                       83.0               6.75
2            Y                       74.0  6.683333333333334
3            Y                       15.0  6.633333333333334
4            Y                       45.0               6.35
...        ...                        ...                ...
4995         N                                           0.0
4996         N                                           0.0
4997         N                                           0.0
4998         N                                           0.0
4999         N                                           0.0

      SATISFACTION RATING DAY_OF_THE_WEEK
INDEX
0                     3.0          Friday
1                     4.0          Friday
2                     1.0          Friday
3                     4.0          Friday
4                     3.0          Friday
...                   ...             ...
4995                            Wednesday
4996                            Wednesday
4997                            Wednesday
4998                            Wednesday
4999                            Wednesday

[5000 rows x 11 columns]

In [17]:
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING,DAY_OF_THE_WEEK
INDEX,,,,,,,,,,,
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,6.816666666666666,3.0,Friday
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,6.75,4.0,Friday
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,6.683333333333334,1.0,Friday
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,6.633333333333334,4.0,Friday
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,6.35,3.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,,0.0,,Wednesday
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,,0.0,,Wednesday
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,,0.0,,Wednesday
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,,0.0,,Wednesday
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,,0.0,,Wednesday

In [20]:
bbdd['AVGTALKDURATION'] = pd.to_datetime(bbdd['AVGTALKDURATION'], unit='m').dt.strftime('%H:%M:%S')

C:\Users\Lucia\AppData\Local\Temp\ipykernel_25596\1121791357.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  bbdd['AVGTALKDURATION'] = pd.to_datetime(bbdd['AVGTALKDURATION'], unit='m').dt.strftime('%H:%M:%S')

In [22]:
bbdd['AVGTALKDURATION'] = pd.to_datetime(bbdd['AVGTALKDURATION'], format='%H:%M:%S').dt.strftime('%H:%M:%S')

In [23]:
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING,DAY_OF_THE_WEEK
INDEX,,,,,,,,,,,
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:48,3.0,Friday
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0,Friday
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0,Friday
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:37,4.0,Friday
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:20,3.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,,00:00:00,,Wednesday
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,,00:00:00,,Wednesday
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,,00:00:00,,Wednesday
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,,00:00:00,,Wednesday
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,,00:00:00,,Wednesday