# **1- DEFINICIÓN_EDA**

## ____INFORMACIÓN DEL PROYECTO____

### **Optimización de modelos operativos en Telecom: Análisis Profundo de los contactos para Mejorar el CX**

### TEMA

##### **En este proyecto, llevaremos a cabo un análisis exhaustivo de las interacciones de los clientes con Telecom. Nuestro objetivo es descubrir insights a partir de un análisis profundo de los datos, correlacionando los mismo buscamos desarrollar conclusiones significativas, que no solo logren esclarecer  patrones de comportamiento de los clientes, sino que también proporcionen orientación para mejorar la experiencia del cliente de manera significativa.**

## **OBTENCIÓN DE LOS DATOS**

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

### Mi BBDD 5.000.- interacciones es obtenida desde una fuente pública:

 https://www.kaggle.com/datasets/datazng/telecom-company-churn-rate-call-center-data

# **2-ANÁLISIS EXPLOTATORIO DE DATOS**

## Importación de librerias

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn

In [5]:
rutaexcel = r"C:\\Users\\Lucia\Desktop\\bootcamp\\Proyecto_EDA_Pablo_Mendez\\Telecom Company Call-Center-Dataset.xlsx"
bbdd = pd.read_excel(rutaexcel)
bbdd.head(5)

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0

In [6]:
bbdd.columns

Index(['Call Id', 'Agent', 'Date', 'Time', 'Topic', 'Answered (Y/N)',
       'Resolved', 'Speed of answer in seconds', 'AvgTalkDuration',
       'Satisfaction rating'],
      dtype='object')

In [7]:
bbdd.shape

(5000, 10)

In [8]:
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   object
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered (Y/N)              5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: float64(2), object(8)
memory usage: 390.8+ KB

In [9]:
bbdd.describe()

       Speed of answer in seconds  Satisfaction rating
count                 4054.000000          4054.000000
mean                    67.520720             3.403552
std                     33.592872             1.212220
min                     10.000000             1.000000
25%                     39.000000             3.000000
50%                     68.000000             3.000000
75%                     97.000000             4.000000
max                    125.000000             5.000000

In [10]:
bbdd.describe(include='all')

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
count,5000,5000,5000,5000,5000,5000,5000,4054.000000,4054,4054.000000
unique,5000,8,90,375,5,2,2,NaN,391,NaN
top,ID0033,Jim,2021-01-11,11:55:41,Streaming,Y,Y,NaN,00:04:43,NaN
freq,1,666,84,30,1022,4054,3646,NaN,22,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.520720,NaN,3.403552
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.592872,NaN,1.212220
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.000000,NaN,3.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.000000,NaN,3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,NaN,4.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.000000,NaN,5.000000

In [11]:
bbdd['Agent'].unique()

array(['Diane', 'Dan', 'Stewart', 'Greg', 'Martha', 'Becky', 'Joe', 'Jim'],
      dtype=object)

In [12]:
bbdd['Agent'].nunique()

8

In [13]:
bbdd = bbdd.sort_values(by='Time', ascending=True)
bbdd

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
3733,ID3691,Martha,2021-03-06,09:00:00,Technical Support,Y,Y,73.0,00:01:20,4.0
2210,ID2206,Becky,2021-02-08,09:00:00,Contract related,Y,Y,17.0,00:05:49,4.0
4666,ID4639,Dan,2021-03-24,09:00:00,Technical Support,Y,Y,21.0,00:02:34,3.0
3724,ID3692,Stewart,2021-03-06,09:00:00,Payment related,Y,Y,85.0,00:02:15,5.0
4646,ID4640,Dan,2021-03-24,09:00:00,Payment related,Y,Y,61.0,00:05:47,5.0
...,...,...,...,...,...,...,...,...,...,...
700,ID0717,Jim,2021-01-12,18:00:00,Streaming,Y,Y,71.0,00:02:00,3.0
3330,ID3388,Joe,2021-02-28,18:00:00,Technical Support,Y,Y,79.0,00:06:19,4.0
4329,ID4330,Greg,2021-03-17,18:00:00,Contract related,N,N,NaN,NaN,NaN
3360,ID3387,Jim,2021-02-28,18:00:00,Streaming,Y,Y,56.0,00:02:34,4.0
820,ID0861,Stewart,2021-01-15,18:00:00,Admin Support,Y,Y,42.0,00:06:13,3.0

In [14]:
bbdd['Topic'].nunique()

5

In [15]:
bbdd['Answered (Y/N)'].value_counts()

Answered (Y/N)
Y    4054
N     946
Name: count, dtype: int64

### **Luego de realizar el analisis exploratorio de los datos podemos indicar:**

#### -Disponemos de 5000 filas y 10 columnas
#### -El horario de atención del equipo de customer service es de 9 a 18 horas
#### -El equipo de customer service esta compuesto por 8 agentes
#### -Se disponen de 5 categorias para clasificar el motivo de contacto
#### -No todos los contactos fueron concretados
##### -La base de datos dipone de NAN estos correponden a datos faltantes cuando la interaccion no fue concretada es decir si un llamado no se realizo por x motivo no hay duracion de llamada, no hay nivel de satisfaccion ni tiempo de espera.

# **3-Limpieza & Set Up de BBDD**

### Realizaremos algunas customizaciones sobre la base con el fin de optimizar el trabajo de aqui en adelante:

    0.  Lectura de mi Base de datos
    1.  Cambiar los títulos de las columnas a mayúsculas
    2.  Agregar la leyenda del índice
    3.  Conversión de columnas, Time & AvgTalkDuration
    4.  Crear  columna "DAY_OF_THE_WEEK"
    5.  Limpiaza & generación de embudo
    6.  Verificar que no existen nulo en la Base de Datos
    7.  Verificar que no existan duplicados
    8.  Verificar que no existan absurdos
    9.  Ordenar las columnas
    10. Guardar un CSV con la base de datos limpia y seteada para iniciar nuestro analisis

## **0-Lectura de mi Base de datos**

#### Realizamos una lectura de la Base de datos en donde incluimos "parse_dates" para que la columna 'Date' se lea en el formato mas adecuado y hacemos algo similar con otras 2 columnas del tipo Float que serian Speed of answer in seconds' y 'Satisfaction rating'

In [16]:
rutaexcel = r"C:\\Users\\Lucia\Desktop\\bootcamp\\Proyecto_EDA_Pablo_Mendez\\Telecom Company Call-Center-Dataset.xlsx"
bbdd = pd.read_excel(rutaexcel, parse_dates=['Date'],
                     dtype={'Speed of answer in seconds': float,
                            'Satisfaction rating': float})
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   datetime64[ns]
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered (Y/N)              5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 390.8+ KB

##     1. Cambiar los títulos de las columnas a mayúsculas 
##     2. Agregar la leyenda del índice
###      Para trabajar de una manera mas ordenada se decide insertar un indice al cual se puede llamar en el futuro

In [18]:
bbdd.columns = bbdd.columns.str.upper()
bbdd
bbdd.index.name = 'INDEX'

## 3.Conversión de columnas, Time & AvgTalkDuration

### La columna 'Time' se modificara como tipo de dato a delta time
### La columna 'AvgTalkDuration' se modificara como tipo de dato datetime con el formato dias, horas, minutos y segundos.

In [19]:
bbdd['TIME'] = pd.to_datetime(bbdd['TIME'], format='%H:%M:%S')

bbdd['TIME'] = bbdd['TIME'].dt.hour * pd.Timedelta(hours=1) + bbdd['TIME'].dt.minute * pd.Timedelta(minutes=1) + bbdd['TIME'].dt.second * pd.Timedelta(seconds=1)

#### Unicamente se completan los Nan de la columna con el fin de convetir el tipo de dato proximamente se analizaran por partes el Dt con el fin de analizarlo en 2 etapas del "embudo de analisis"

In [21]:
import pandas as pd
from datetime import datetime, timedelta

bbdd['AVGTALKDURATION'].fillna('00:00:00', inplace=True)

bbdd['AVGTALKDURATION'] = pd.to_datetime(bbdd['AVGTALKDURATION'], format='%H:%M:%S').dt.time


bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].apply(lambda x: timedelta(hours=x.hour, minutes=x.minute, seconds=x.second))

In [22]:
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALL ID                     5000 non-null   object
 1   AGENT                       5000 non-null   object
 2   DATE                        5000 non-null   datetime64[ns]
 3   TIME                        5000 non-null   timedelta64[ns]
 4   TOPIC                       5000 non-null   object
 5   ANSWERED (Y/N)              5000 non-null   object
 6   RESOLVED                    5000 non-null   object
 7   SPEED OF ANSWER IN SECONDS  4054 non-null   float64
 8   AVGTALKDURATION             5000 non-null   timedelta64[ns]
 9   SATISFACTION RATING         4054 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(5), timedelta64[ns](2)
memory usage: 390.8+ KB